<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout:: head('Shipment')}">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
	<div class="layout-container">
		<!-- Layout container -->
		<div class="layout-page">
			<nav th:replace="~{layout::upper-nav}"></nav>

			<div class="content-wrapper">
				<div class="container-xxl flex-grow-1 container-p-y">
					<div class="row">
						<div class="card mb-3">
							<h5 class="card-header">Shipment</h5>
						</div>
					</div>
					<button
							class="btn btn-primary mb-3"
							data-bs-target="#modalCenter"
							data-bs-toggle="modal"
							id="addNewShipment"
							type="button"
					>Add New Shipment
					</button>
					<div class="row">
						<div class="col-lg-12 mb-4">
							<div class="card">
								<div class="table-responsive text-nowrap">
									<table class="table table-striped">
										<thead>
										<tr>
											<th>Action</th>
											<th>Name</th>
											<th>Price</th>
											<th>Service</th>
										</tr>
										</thead>
										<tbody class="table-border-bottom-0">
										<tr th:each="shipper : ${shippers}" th:object="${shipper}">
											<td>
												<a class="btn btn-warning" th:classappend="${shipper.totalOrders > 0} ? ' disabled' : ''"
												   th:href="@{/shipment/edit/{id} (id=*{id}) }"
												>Edit</a>
												<a class="btn btn-danger"
												   th:href="@{/shipment/delete/{id} (id=*{id}) }">Delete</a>
												<a class="btn btn-danger"
												   th:classappend="${!shipper.isService} ? ' disabled' : ''"
												   th:href="@{/shipment/stopService/{id} (id=*{id}) }"
												>Stop Service</a>
											</td>
											<td th:text="*{shipperName}"></td>
											<td th:text="*{priceFormatted}"></td>
											<td th:text="*{isService}"></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div aria-hidden="true" class="modal fade" id="modalCenter" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCenterTitle"
					th:text="${shipper != null ? 'Edit Shipment' : 'Tambah Shipment'}">Tambah Shipment</h5>
				<button
						aria-label="Close"
						class="btn-close"
						data-bs-dismiss="modal"
						type="button"
				></button>
			</div>
			<form id="formShipment" method="post" th:action="@{/shipment/upsert}">
				<div class="modal-body">
					<div class="row">
						<div class="col mb-3">
							<div>
								<input id="shipperId" name="id" th:value="${shipper == null ? null : shipper.id}"
									   type="hidden"/>
								<label for="name">Name</label>
								<input
										class="form-control"
										id="name"
										name="name"
										placeholder="Name..."
										th:value="${shipper == null ? null : shipper.name}"
										type="text"
								/>
							</div>
							<div>
								<label for="price">Price</label>
								<input
										class="form-control"
										id="price"
										name="price"
										placeholder="Price..."
										th:value="${shipper == null ? null : shipper.price}"
										type="text"
								/>
							</div>
							<label for="service">Service</label>
							<input
									class="form-check-input"
									id="service"
									name="isService"
									th:checked="${shipper == null ? false : shipper.isService}"
									type="checkbox"
							/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">
						Close
					</button>
					<button class="btn btn-primary" id="submitButton" type="submit">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div th:replace="~{layout::js-import}">
</div>
<script>
	(function () {
                let shipper = document.querySelector("#shipperId");
                if (shipper.value != "") {
                    let modalElement = document.querySelector("#modalCenter");
					let modal = new bootstrap.Modal(modalElement);
					modal.show();
                }
            }())
</script>

</body>
</html>