<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout-login::head('Change Title')}">
	<meta charset="UTF-8">
	<title></title>
</head>
<body>

<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner">
			<!-- Register -->
			<div class="card">
				<div class="card-body">
					<!-- Logo -->
					<div class="app-brand justify-content-center">
						<a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img width="50px" th:src="@{/resources/assets/img/avatars/troll.png}">
                  </span>
							<span class="app-brand-text demo text-body fw-bolder">Choose Role</span>
						</a>
					</div>
					<!-- /Logo -->
					<form id="formAuthentication" class="mb-3" action="" method="POST">
						<div class="mb-3">
							<select class="form-select" name="role">
								<option th:each="role : ${roles}" th:text="${role}" th:value="${role}"></option>
							</select>
						</div>
						<div class="mb-3">
							<button class="btn btn-primary d-grid w-100" type="submit">Pilih</button>
						</div>
					</form>
				</div>
			</div>
			<!-- /Register -->
		</div>
	</div>
</div>

</body>
</html>