<!DOCTYPE html>
<html class="light-style customizer-hide"
	  data-template="vertical-menu-template-free"
	  data-theme="theme-default"
	  dir="ltr"
	  lang="en"
	  th:data-assets-path="@{/resources/assets/}">
<head th:replace="~{layout:: head('Shop')}">
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
	<div class="layout-container">
		<!-- Layout container -->
		<div class="layout-page">
			<nav th:replace="~{layout::upper-nav}"></nav>

			<div class="content-wrapper">
				<div class="container-xxl flex-grow-1 container-p-y">
					<div class="row">
						<div class="card mb-3">
							<h5 class="card-header">Shop</h5>
							<div class="table-responsive text-nowrap">
								<table class="table table-borderless">
									<tbody>
									<form th:action="@{/shop}">
										<tr>
											<td>Name</td>
											<td>
												<input class="form-control" name="name" type="text">
											</td>
										</tr>
										<tr>
											<td>Category</td>
											<td>
												<input class="form-control" name="category" type="text">
											</td>
										</tr>
										<tr>
											<td>Description</td>
											<td>
												<input class="form-control" name="description" type="text">
											</td>
										</tr>
										<tr>
											<td>
												<button class="btn btn-primary" type="submit">Search</button>
											</td>
										</tr>
									</form>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
					<div class="card">
						<div class="table-responsive text-nowrap">
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Action</th>
									<th>Name</th>
									<th>Price</th>
								</tr>
								</thead>
								<tbody class="table-border-bottom-0">
								<tr th:each="product : ${products}" th:object="${product}">
									<td>
										<button class="addToCartBtn btn btn-warning" th:data-id="*{id}">
											Add To Cart
										</button>
										<a class="btn btn-danger" th:href="@{/shop/detail/{id} (id=*{id}) }">Detail
											Info</a>
									</td>
									<td th:text="*{productName}"></td>
									<td th:text="*{priceFormatted}"></td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addToCartModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<form th:action="@{/shop/addToCart}" method="post">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add To Cart</h5>
					<button
							aria-label="Close"
							class="btn-close"
							data-bs-dismiss="modal"
							type="button"
					></button>
				</div>
				<div class="modal-body">
					<input id="productIdForModalAddToCart" name="productId" type="hidden">
					<div>
						<label>Quantity</label>
						<input class="form-control" type="number" name="quantity">
					</div>
					<div class="alert alert-danger" th:errors="${dto.quantity}"></div>
					<div>
						<label>Shipment</label>
						<select class="form-select" name="shipperId">
							<option value="">-- Select Shipper --</option>
							<option th:each="shipper : ${shippers}" th:text="${shipper.name}" th:value="${shipper.id}"></option>
						</select>
					</div>
					<div class="alert alert-danger" th:errors="${dto.shipperId}"></div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">
						Close
					</button>
					<button class="btn btn-primary" type="submit">
						Submit
					</button>
				</div>

			</div>
		</form>
	</div>
</div>

<input id="productId" th:value="${product != null ? product.id : null}" type="hidden">
<div class="modal fade" id="modalCenter" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalCenterTitle">Detail Product</h5>
				<button
						aria-label="Close"
						class="btn-close"
						data-bs-dismiss="modal"
						type="button"
				></button>
			</div>
			<div class="modal-body">
				<div class="table-responsive text-nowrap">
					<table class="table table-borderless">
						<tbody class="table-border-bottom-0" th:object="${product}">
						<tr>
							<td>Name</td>
							<td th:text="*{name}"></td>
						</tr>
						<tr>
							<td>Category</td>
							<td th:text="*{category}"></td>
						</tr>
						<tr>
							<td>Description</td>
							<td th:text="*{description}"></td>
						</tr>
						<tr>
							<td>Price</td>
							<td th:text="*{priceFormatted}"></td>
						</tr>
						<tr>
							<td>Seller</td>
							<td th:text="*{seller}"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" data-bs-dismiss="modal" type="button">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

<div th:replace="~{layout::js-import}"></div>
<script>
	(function () {
                let shop = document.querySelector("#productId");
                if (shop.value != "") {
                    let modalElement = document.querySelector("#modalCenter");
					let modal = new bootstrap.Modal(modalElement);
					modal.show();
                }

                let btnAddToCart = document.querySelectorAll('.addToCartBtn');

                btnAddToCart.forEach(button => {
                	button.addEventListener('click', (event) => {
                		let modalElement = document.querySelector("#addToCartModal");
						let modal = new bootstrap.Modal(modalElement);
						let productId = document.querySelector('#productIdForModalAddToCart');
						productId.value = event.target.getAttribute('data-id');
						modal.show();
                	});
                })
            }())
</script>
<!--<script th:src="@{/resources/assets/js/my-script.js}"></script>-->
</body>
</html>